body {
    display:flex;
    flex-direction: column;
}

div {
    border: 5px solid;
}

.footer-sec-six, .header-sec-one {
    background-color:rgba(255,255,255,0);
}

.header-sec-one {
    display:flex;
    flex-direction:row;
}

.link-container {
    justify-content:flex-end;
    align-items:flex-end;
    width:1900px;
}
.right-links {
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    gap: 10px;
    height:100px;
    background-color:rgba(0,0,80,80%);
}

#inazuma-symbol {
    width:100px;
    height:100px;
}
#raiden-image {
    width:400px;
    height:700px;
}

#raiden-title {
    color:#6333ae;
}

.raiden-title-sub {
    width:400px;
    margin-left: 30px;
    color:#6333ae;
}

.button-1 {
    background-color: antiquewhite;
    color: #6333ae;
    height:50px;
    width:80px;
}
.cta-container {
    border:3px solid black;
    background-color: rgba(40,120,200, 60%);
    width:600px;
    color:#6333ae;
}

.title-container {
    display:flex;
    flex-direction:column;
    width:500px;
    height:700px;
}

.button-1-con {
    display:flex;
    flex-direction:column;
    height:200px;
    width:400px;
    justify-content:flex-start;
    align-items:center;
    background-color: rgba(0,0,40,50%);
    gap:20px;
}

.raiden-img-con {
    display:flex;
    width:600px;
    background-color: #6333ae;
    justify-content:center;
}
.body-sec-two {
    display:flex;
    height:700px;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,80,40%);
    
}

.body-sec-three {
    display:flex;
    flex-direction: column;
    border: solid black;
    background-color: rgba(158, 158, 255, 40%);
    color:#6333ae;
    justify-content:center;
    align-items:center;
}

.islands {
    height: 200px;
    width: 350px;
}
.narukami {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.naru-text {
    width:700px;
}
.yashiori {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.yashi-text {
    width: 700px;
}

.seirai {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.seirai-text {
    width:700px;
}

.watatsumi {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.wata-text {
    width:700px;
}

.tsurumi {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.tsu-text {
    width:700px;
}

.body-sec-four {
    border: 3px solid black;
    display:flex;
    background-color: rgba(120,40,190,50%);
    text-align:center;
    height:250px;
    width:1880px;
    justify-content:center;
    align-items:center;
}

.raiden-quote {
    display:flex;
    flex-direction:column;
    width:500px;
    height:245px;
    background-color: rgba(10,10,40,15%);
    margin-bottom:20px;
    padding:5px;
}

.raiden-cite {
    display:flex;
    justify-content:center;
    flex:2;
}
.blockquote p {
    display:inline;
}

.body-sec-five {
    border: 3px solid black;
    display:flex;
    background-color: rgba(127,98,230,70%);
    justify-content:center;
    align-items:center;
    width:1880px;
}
