body {
    display:flex;
    flex-direction: column;
}

div {
    border: 5px solid;
}

.cta-container {
    background-color: rgb(40,120,200)
}

.body-sec-five {
    display:flex;
    justify-content:center;
    align-items:center;
}